.bannerAd {
  position: relative;
}
.bannerAd .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  transition: all 0.3s ease;
}
.bannerAd:hover .layer {
  background-color: rgba(0, 0, 0, 0.45);
}
