.product-grid {
  max-height: 800px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.imgPlaceHolder {
  min-height: 280px !important;
}
.product-grid .product-image {
  position: relative;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  max-width: 100%;
  height: auto;
}
.product-image .pic-1 {
  opacity: 1;
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
.product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
}
.product-grid .product-sale-label, .product-new-label,
.product-grid .product-discount-label {
  color: #fff;
  background: #da5555;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 5px 12px;
  border-radius: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
}
.product-grid .product-sale-label {
  background: #2ba968;
  text-transform: uppercase;
  left: 10px;
  right: auto;
}
.product-grid .product-new-label {
  background: var(--main-color);
  text-transform: uppercase;
  left: 10px;
  top: 40px;
  right: auto;
}
.product-grid .product-content {
  padding: 12px;
}
.rating {
  padding: 0;
  margin: 0 0 7px;
  list-style: none;
}
.rating li {
  color: var(--main-color);
  font-size: 12px;
  display: inline-block;
}
.rating li.disable {
  color: rgba(0, 0, 0, 0.2);
}
.product-grid .title {
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a {
  color: var(--main-color);
  transition: all 500ms;
}
.product-grid .title span:hover {
  color: var(--main-color);
}
.product-grid .price {
  font-size: 18px;
  letter-spacing: 0.005em;
  margin-bottom: 10px;
}
.product-grid .price span {
  color: #a7a7a7;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 3px;
}
.product-grid .product-button-group {
  position: relative;
  z-index: 1;
}
.product-grid .add-to-cart {
  color: #eee;
  background: #494949;
  font-size: 10px;
  width: calc(100% - 75px);
  padding: 8px 3px;
  margin: 0 auto;
  display: inline-block;
  transition: all 0.25s ease 0s;
}
.product-grid .add-to-cart i {
  margin-right: 8px;
  display: none;
  visibility: hidden;
  transition: all 0.25s ease 0s;
}
.product-grid:hover .add-to-cart {
  color: #fff;
  background: var(--main-color);
}
.product-grid:hover .add-to-cart i {
  display: inline-block;
  visibility: visible;
}
.product-grid .product-like-icon,
.product-grid .product-compare-icon {
  color: var(--main-color);
  background: #f4f4f4;
  line-height: 34px;
  width: 34px;
  height: 34px;
  opacity: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: -1;
  transition: all 0.25s ease 0s;
}
.product-grid .product-compare-icon {
  left: auto;
  right: 50px;
}
.product-grid:hover .product-like-icon {
  opacity: 1;
  left: 0;
}
.product-grid:hover .product-compare-icon {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
