:root {
  --main-color: #f6b69b;
  --secondary-color: #f9bea5;
  --dark-color: #2b2b2b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(26, 26, 26);
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--dark-color);
}
.fw-600 {
  font-weight: 600;
}
.w-fit {
  width: fit-content;
}
.text-main {
  color: var(--main-color);
}
p {
  font-family: "Open Sans", sans-serif;
  color: var(--dark50-color);
  font-weight: 400;
  font-size: 15px;
}
a {
  color: var(--dark-color) !important;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover {
  color: var(--main-color) !important;
}
a i {
  position: relative;
  transition: 0.1s;
}
a i::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: 0.1s ease;
}

a:hover i::after {
  background-color: rgba(87, 87, 87, 0.035);
  width: 37px;
  height: 37px;
}

.text-sm {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}
.py-100 {
  padding: 100px 0;
}
.z-index {
  z-index: 10000;
}
.title {
  font-weight: 900 !important;
  letter-spacing: 1px;
  font-family: system-ui;
}
.slick-dots {
  top: 93%;
  height: 0;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--secondary-color);
}
.slick-dots li button:before {
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #696969;
}
.icon {
  margin-left: 5px;
  font-size: 18px;
}
.text-gradient {
  background: linear-gradient(
    150deg,
    var(--main-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

.slick-prev,
.slick-next {
  width: 35px !important;
  height: 100% !important;
  background: #99999929 !important;
  transition: all 0.3s ease !important;
  opacity: 0 !important;
}

.slick-prev {
  left: 12px !important;
  z-index: 1;
}
.slick-next {
  right: 12px !important;
  z-index: 1;
}
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1 !important;
}
.hvrShadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.hvrShadow:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.hvrOpacity {
  transition: 0.3s ease;
}
.hvrOpacity:hover {
  opacity: 1 !important;
}
/* Border botton on hover */
.hvrBB {
  position: relative;
}
.hvrBB::before {
  content: "";
  width: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--main-color);
  transition: 0.5s ease-in-out !important;
}
.hvrBB:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

.nav-tabs .nav-link {
  --mdb-nav-tabs-link-font-weight: 900;
  --mdb-nav-tabs-link-font-size: 13px;
  --mdb-nav-tabs-link-padding-top: 14px;
  --mdb-nav-tabs-link-padding-bottom: 14px;
  --mdb-nav-tabs-link-padding-x: 15px;
  --mdb-nav-tabs-link-hover-bgc: #f7f7f7eb;
  --mdb-nav-tabs-link-border-bottom-width: 2px;
  --mdb-nav-tabs-link-active-color: var(--main-color);
  --mdb-nav-tabs-link-active-border-color: var(--main-color);
}

input:focus {
  border: 1px solid var(--main-color) !important;
  box-shadow: 0px 0px 2px 0px var(--main-color) !important;
}
